* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto Slab", "Quicksand", "Cabin", sans-serif;
  background-color: #dcffff;
  opacity: 0;
  animation: fadeInPage 0.3s ease-in forwards;
}

@keyframes fadeInPage {
  to {
    opacity: 1;
  }
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(45deg, white, #DA6C6C, #F4F8D3, #A2AADB, #B9B28A, #574964);
  background-size: 400% 400%;
  animation: gradientMove 35s ease infinite;
  z-index: -1;
  filter: blur(100px) brightness(1.1);
  opacity: 0.6;
  pointer-events: none;
  transform: scale(1.4);
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#header {
  padding-top: 16vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#logoAndName {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

#name {
  text-decoration: none;
  color: #011f26;
  font-family: "Playwrite CU", sans-serif;
  text-shadow: 0.4vw 0.4vh #78866b;
  pointer-events: none;
}

h1 {
  font-size: 7.2vw;
  font-weight: 600;
  margin-top: 3vh;
  margin-bottom: 0;
}

#logo {
  width: 40vw;
  margin-bottom:5vh ;
  margin-top: 10vh;
}

#signInSection {
  padding-top: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#signInButton,
#emailInput {
  font-family: "Quicksand";
  min-width: 120px;
  width: 36vw;
  height: 9vh;
  background: #f88379;
  border: 2px solid #011f26;
  border-radius: 3vh;
  box-shadow: #393737 0.4vw 0.8vh 0 0;
  border-top: transparent;
  border-left: transparent;
  color: #011f26;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: calc(0.5rem + 0.6vw);
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  outline: none;
  overflow: hidden;
  transition: all 150ms ease-in-out;
}

#signInButton:hover {
  background-color: #78866b;
}

#signInButton:active {
  box-shadow: #422800 1px 1px 0 0;
  transform: translate(4px, 4px);
}

.buttonClicked {
  box-shadow: #422800 1px 1px 0 0 !important;
  transform: translate(4px, 4px) !important;
  transition: all 150ms ease-in-out;
}

@media (max-width: 768px) {
  #signInButton,
  #emailInput {
    width: 70vw;
    height: 7vh;
    font-size: 0.7rem;
  }

  h1 {
    font-size: 16.2vw;
  }

  #signInButton{
    border-radius: 2.4vh;
    box-shadow: #393737 1vw 0.6vh 0 0;
  }
}

.footer {
  position: absolute;
  width: -webkit-fill-available;
  margin-top: 9vh;
  padding: 2vh 0;
  font-size: 0.9rem;
  color: #333;
  bottom: 2%;
}

.footerDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerText {
  font-size: calc(0.5rem + 0.3vw);
  color: #7393B3;
}
