html {
  font-family: "Roboto Slab", "Quicksand", "Cabin", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  opacity: 0;
  animation: fadeInPage 0.3s ease-in forwards;
}

@keyframes fadeInPage {
  to {
    opacity: 1;
  }
}

body {
  transition: opacity 0.3s ease-in;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  background: linear-gradient(45deg, #f88379, #dcffff, #fffff0, #191970);
  background-size: 400% 400%;
  animation: gradientMove 15s ease infinite;
  z-index: -1;
  filter: blur(80px);
  opacity: 0.6;
  pointer-events: none;
}

h2 {
  margin: 0;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6vh;
}

#welcomeMessage {
  font-family: "Quicksand";
  font-weight: 400;
  font-size: 3.2vh;
}

#welcomeMesDiv {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 15%;
}

.checkboxBrand {
  display: none;
}

.checkboxLabel {
  height: 6rem;
  width: 10rem;
  margin: 0.4rem;
  padding: 0rem 1rem;
  border: 2px solid #011f26;
  border-radius: 3vh;
  box-shadow: #413f3f 0.3vw 0.4vh 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 130ms ease-in-out;
}

.checkboxLabelGender {
  height: 8rem;
  margin: 1rem;
  padding: 0rem 2rem;
  border: 2px solid #011f26;
  border-radius: 3vh;
  box-shadow: #413f3f 0.3vw 0.5vh 0 0;
  width: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 130ms ease-in-out;
}

.checkboxGender:hover {
  box-shadow: #422800 1px 1px 0 0;
  transform: translate(2px, 2px);
}

.checkboxGender {
  font-family: "Quicksand";
  font-weight: 400;
  font-size: 2vh;
  height: 13vh;
  margin: 1rem;
  padding: 0rem 2rem;
  border: 2px solid #011f26;
  border-radius: 3vh;
  box-shadow: #413f3f 0.3vw 0.5vh 0 0;
  width: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 130ms ease-in-out;
}

.checkboxGenderInput {
  display: none;
}

.saveButton {
  font-family: "Quicksand";
  font-weight: 400;
  font-size: 1.4rem;
  margin: 0.4rem;
  height: 6rem;
  width: 25rem;
  border-radius: 3vh;
  box-shadow: #413f3f 0.3vw 0.5vh 0 0;
  background: #f88379;
  transition: 200ms;
}

.saveButton:hover {
  background: #f76557;
}

.saveButton.clicked {
  box-shadow: #422800 1px 1px 0 0 !important;
  transform: translate(2px, 2px) !important;
  transition: all 150ms ease-in-out;
}

.checkboxLabel:hover {
  box-shadow: #422800 1px 1px 0 0;
  transform: translate(2px, 2px);
}

.buttonClicked {
  box-shadow: #422800 1px 1px 0 0 !important;
  transform: translate(4px, 4px) !important;
  transition: all 150ms ease-in-out;
}

.brandButtonClicked {
  box-shadow: #422800 1px 1px 0 0 !important;
  transform: translate(2px, 2px) !important;
  transition: all 150ms ease-in-out;
}

.brandLogos {
  width: inherit;
}

#buttonsDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

#userEmailPrefix,
#name {
  text-decoration: none;
  color: #011f26;
  font-family: "Playwrite CU", sans-serif;
  text-shadow: 0.3vw 0.3vh #78866b;
  pointer-events: none;
  font-size: 3.2vh;
  font-weight: 600;
  margin: 0;
}

#statusMessage {
  display: none;
  color: #011f26;
  font-family: "Quicksand";
  pointer-events: none;
  font-size: 1.2vw;
  font-weight: 400;
  margin-top: 6vh;
  margin-bottom: 0;
}

.genderDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#brandButtons {
  display: flex;
  flex-direction: column;
}

.element-transition {
  opacity: 1;
  transition: opacity 400ms ease-in-out;
}

.element-hidden {
  opacity: 0;
}

.linkBox {
  width: 60rem;
  height: 34rem;
  border: solid 2px black;
  border-radius: 4vh;
  box-shadow: #413f3f 0.3vw 0.5vh 0 0;
}
.linkInput{
   font-family: "Quicksand";
  width: 88%;
  border: solid 2px black;
  height: 5rem;
  margin: 1rem;
  border-radius: 3vh;
  box-shadow: #413f3f 0.2vw 0.4vh 0 0;
  cursor: text;
  font-weight: 600;
  font-size: calc(0.5rem + 0.6vw);
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  outline: none;
  overflow:hidden;
  transition: all 150ms ease-in-out;
  padding-right: 30px;
  padding-left: 30px;
}

#inputDiv {
  display: flex;
}

.addButton:hover {
  box-shadow: #422800 1px 1px 0 0;
  transform: translate(2px, 2px);
}

 .addButton {
   font-family: "Quicksand";
    margin: 1rem;
    margin-left: 0;
    height: 5rem;
    width: 7rem;
    border-radius: 2rem;
     box-shadow: #413f3f 0.2vw 0.4vh 0 0;
    transition: all 150ms ease-in-out;
    font-weight: 600;
  font-size: calc(0.5rem + 0.6vw);
  background: #febcb6;
 }

.buttonTwins{
  display: flex;
}

.footer {
  position: absolute;
  width: -webkit-fill-available;
  margin-top: 9vh;
  padding: 2vh 0;
  font-size: 0.9rem;
  color: #333;
  bottom: 2%;
}

.footerDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerText {
  font-size: calc(0.5rem + 0.3vw);
  color: #7393B3;
}


@media (max-height: 1080px) {
#welcomeMesDiv {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 7%;
}
}